<div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th >序号</th>
                    <th >菜单名称</th>
                    <th >菜单地址</th>
                    <th >是否存在子菜单</th>
                    <th >操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i><span style="margin-left:5px">新增</span></button>
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i><span style="margin-left:5px">编辑</span></button>
                        <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i><span style="margin-left:5px">删除</span></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                            <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th >序号</th>
                                                <th >菜单名称</th>
                                                <th >菜单地址</th>
                                                <th >是否存在子菜单</th>
                                                <th >操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                                <td>4</td>
                                                <td>
                                                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i><span style="margin-left:5px">新增</span></button>
                                                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i><span style="margin-left:5px">编辑</span></button>
                                                    <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i><span style="margin-left:5px">删除</span></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                      </table>
                                </div>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
