<link rel="stylesheet" href="stylesheets/home.css">
<div id="Home">
    <div  class="cell">
        <div id="curretnTime"></div>
        <ul class="calendar clearfix" >
            <li><strong>1</strong>JAN</li>
            <li><strong>2</strong>FER</li>
            <li><strong>3</strong>MAR</li>
            <li><strong>4</strong>APR</li>
            <li><strong>5</strong>MAY</li>
            <li class="current"><strong>6</strong>JUN</li>
            <li><strong>7</strong>JUL</li>
            <li><strong>8</strong>AUG</li>
            <li><strong>9</strong>SEP</li>
            <li><strong>10</strong>OCT</li>
            <li><strong>11</strong>NOV</li>
            <li><strong>12</strong>DEC</li>
        </ul>
        <div id="msg">
            <h2>
                <strong>6</strong>
                月节日
            </h2>
            <p>端午节：6月4日至6日放假3天。</p>
        </div>
    </div>
    <div  class="cell" style="background: transparent">
        <div id="calc">
            <p>Thui calculator</p>
            <input class="f-text" type="text" readonly="readonly" maxlength="9" value="0" />
            <ul class="clearfix">
                <li class="btn-1"><a href="javascript:void(0)">c</a></li>
                <li class="btn-1"><a href="javascript:void(0)">%</a></li>
                <li class="btn-1"><a href="javascript:void(0)">/</a></li>
                <li class="btn-1"><a href="javascript:void(0)">*</a></li>
                <li><a href="javascript:void(0)">7</a></li>
                <li><a href="javascript:void(0)">8</a></li>
                <li><a href="javascript:void(0)">9</a></li>
                <li class="btn-1"><a href="javascript:void(0)">-</a></li>
                <li><a href="javascript:void(0)">4</a></li>
                <li><a href="javascript:void(0)">5</a></li>
                <li><a href="javascript:void(0)">6</a></li>
                <li class="btn-1"><a href="javascript:void(0)">+</a></li>
                <li><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li class="btn-2"><a href="javascript:void(0)">=</a></li>
                <li class="btn-3"><a href="javascript:void(0)">0</a></li>
                <li><a href="javascript:void(0)">.</a></li>
            </ul>
            <input id="formula" type="text" readonly="readonly" value="" />
        </div>
    </div>
</div>
<script src="javascripts/aboutInput/home.js"></script>